:root {
  --contact-color:#434455;
  --link-color:#2e2f42 ;
  

} body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo-web {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo_studio {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.page-header:hover,
.list {
  list-style: none;
  font-style: normal
}

.link {
  text-decoration: none;
  font-style: normal
}
.hero{
  background-color: #2e2f42;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4D5AE5;
  color: #ffffff;
}
.hero-button-portfolio{
cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #F4F4FD;
  color: #4D5AE5;
}
.hero-button-portfolio:hover,
.hero-button-portfolio:focus
{
  background-color: #404bbf;
color: #FFFFFF;
  
}
.menu-link:hover{
  color: #404bbf 
}
.menu-link:focus{
color: #404bbf
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.menu-item{
  color: #2e2f42;
}
.header-addres-cont{
  color: var(--contact-color);
}
/* /* .header-addres{
  font-style: normal;
  color: var(--font-color); */

} */
.hero-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.head-text {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.head-text-two {
  text-align: center;
  text-transform: capitalize;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  color: #2e2f42;
}

.section-four{
 background-color: #F4F4FD;
}
.our-team-list{
  background-color: #FFFFFF;
}
.head-text-product{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
 
}

.section-four-list{

}
.footer{
  background-color: #2e2f42;
}

.paragraph-text-footer{
  color: #F4F4FD;
}
.logo_studio-footer{
  color: #F4F4FD;
}